@charset "utf-8";
/* CSS Document */

.body{background:url(../imagenes/background.png) no-repeat;
	  position:absolute;
	  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	  color: #15428b;
}

A:link, A:visited, A:hover, A:active { text-decoration: none;
									   padding-top:1px;
									   padding-bottom:1px;
									   font: bold 13px Verdana, Arial, Helvetica, sans-serif;
									   color: #0F2F4B;
	                                   text-align:left;
}

/******************************************/
/****************** MENU ******************/

#formContenedorMenu {
	text-align:left;
	position:absolute;
	width:900px;
	left:27px;/*162*/
	top: 230px;
}

table#miTablaMenu {
	background:url(../imagenes/fondotablamenu.png) no-repeat;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #0F2F4B;
	width:940px;
	height:397px;
}

.ImgMenu{
	border:0;
}

/******************************************/
/***** ESTILO DEL FORMULARIO REGISTRO *****/

#formContenedor {
	text-align:left;
	position:absolute;
	width:900px;
	left:28px;
	top: 230px;
}

.cabeceratabla{
	padding-top:5px;
	padding-bottom:5px;
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	color: #15428b;
	text-align:center;
	width:923px;
}

table#miTabla {
	background:url(../imagenes/fondotablaingreso.png) no-repeat;
	table-layout: fixed;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #15428b;
	width:925px;	
}

.inputIp { 
	width:115px;
	height:17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputMac { 
	width:140px;
	height:17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputRed { 
	width:50px;
	height:17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputGrupo {
	width:160px;
	height:17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.select{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputUsuario { 
	width:320px;
	height:17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputTelefono { 
	width:50px;
	height:17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputSerie { 
	width:100px;
	height:17px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputError
{
	border:1px solid #FF0000;
	background-color:#FFF4F0;
	color:#FF0000;
}

/*****  DIV CONTENEDOR DE BOTONES GUARGAR Y LIMPIAR *****/

#divBoton
{
	position:absolute;
 	top:96%;
    right:-2%;
}

button { 
	width:100px; 
	height:22px; 
	font-family:Verdana; 
	font-size:11px;
}

/***** Capas de transparencia y mensajes de confirmacion *****/

#transparencia
{
	background-color:#FFFFFF; /*#FFFFFF*/
	z-index:1; 
	position:absolute;
	width:925px;
	height:520px;
	display:none;
	opacity:0.45; filter:alpha(opacity="80");/*95*/
}

#transparenciaMensaje
{
	position:absolute;
	width:300px;/*300*/
	height:100px;
	margin-top:-50px;
	margin-left:-120px;
	top:40%;
	left:45%;
	text-align:center;/**/
}

/***** ESTILO DEL FORMULARIO BUSQUEDA *****/

#formContenedorbuscar {
	text-align:left;
	position:absolute;
	width:930px;
	left:37px;
	top: 187px;
}

#divcompleto {
	table-layout: fixed;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #15428b;
	width:930px;
}

table#miTablaBuscar {
	table-layout: fixed;
	background:url(../imagenes/fondotablabuscar.PNG) no-repeat left;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #15428b;
	width:930px;	
}

#divTablaInt {
	overflow:scroll;
	border:1px solid #99bbe8;
	height:420px;
}

.cabeceratablaInt{
	padding-top:5px;
	padding-bottom:5px;
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	color: #15428b;
	text-align:center;
}

table#miTablaInt {
	table-layout: fixed;
	background-color:#DEE4E6;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #0F2F4B;
	text-align:center;
	width:2000px;
}

.tr{ 
     background:url(../imagenes/bgthgrid.JPG) repeat center;
	 font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	 color: #0F2F4B;
	 width:2450px;
	}
.td{ 
	 text-align:center;
	 border:1px solid #B6CFDA;

}
.th{ 
	 border:1px solid #B6CFDA;
}

/***  DIV CONTENEDOR DE BOTON BUSCAR  ***/

#divBotonBuscar{
	position:absolute;
	top:744px;
	right:10px;/*122*/
}

#ButtonBuscar { 
	width:100px; 
	height:22px; 
	font-family:Verdana; 
	font-size:11px;
}

/***************ESTILO DEL FORMULARIO ACTUALIZACION****************/

.bodyupdate{background:url(../imagenes/backgroundUpdate.png) no-repeat;
	  position:absolute;
	  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	  color: #15428b;
}

#formContenedorUpdate {
	text-align:left;
	position:absolute;
	width:800px;
	margin-left:0px;
	top: 0px;
	left:0px;
}

.cabeceratablaupdate{
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	color: #15428b;
	text-align:center;
}

table#miTablaUpdate {
	background-color: white;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #15428b;
	border:1px solid #99bbe8;
	width:800px;
}

.tdformupd{
	height:25px;
}

.inputIpUpd { 
	width:115px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputMacUpd { 
	width:140px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputRedUpd { 
	width:20px;
	height:19px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputGrupoUpd {
	width:160px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputUsuarioUpd { 
	width:320px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputTelefonoUpd { 
	width:50px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

.inputSerieUpd { 
	width:100px;
	height:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #ABA274;
}

#divBotonUpdate{
	position:absolute;
	top:540px;
	right:60px;/*122*/
}

#transparenciaUpd
{
	background-color:#FFFFFF; /*#FFFFFF*/
	z-index:1; 
	position:absolute;
	width:800px;
	height:570px;
	display:none;
	opacity:0.45; filter:alpha(opacity="80");/*95*/
}

#transparenciaMensajeUpd
{
	position:absolute;
	width:300px;/*300*/
	height:100px;
	margin-top:-50px;
	margin-left:-120px;
	top:40%;
	left:45%;
	text-align:center;/**/
}

/************* ESTILO DEL FORMULARIO HISTORIAL ***************/

#divcompletohistorial {
	text-align:left;
	position:absolute;
	width:800px;
	margin-left:0px;
	top: 0px;
	left:0px;
}

table#miTablaUpdHistorial  {
	table-layout: fixed;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #0F2F4B;
	width:800px;
	height:600px;
}

#divTablaIntHistorial{
	overflow:scroll;
	border:1px solid #0F2F4B;
	height:170px;
}

table#miTablaIntHistorial {
	table-layout:fixed;
	background-color:#DEE4E6;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #0F2F4B;
	width:800px;
}

.trHistorial{ 
     background:url(../imagenes/bgthgrid.JPG) no-repeat center;
	 font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	 color: #0F2F4B;
	 width:800px;
}
.tdHistorial{ 
	 text-align:center;
	 border:1px solid #B6CFDA;

}
.thHistorial{ 
     text-align:center;
	 border:1px solid #B6CFDA;
}